{% extends 'blog/shared.html' %}
{% block content %}
  {% if page_obj %}
    {% for post in page_obj %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'blog:post-detail' post.pk %}">{{ post.title }}</a>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ post.published_time }}
          </h6>
          <p class="card-text main-post-content">{{ post.main_content|safe }}</p>
          <p class="card-text">
            <small class="text-muted">{{ post.author }}</small>
          </p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No posts to display.</p>
  {% endif %}

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
