{% extends 'blog/shared.html' %}
{% block content %}
    <div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">
        <a href="{% url 'blog:post-detail' post.pk %}">{{ post.title }}</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
        {{ post.published_time }}
        </h6>
        <p class="card-text main-post-content">{{ post.main_content }}</p>
        <p class="card-text">
        <small class="text-muted">{{ post.author }}</small>
        </p>
    </div>
    </div>
{% endblock %}