$font-stack: "Arial", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //border: 1px solid;
}

body,
html {
  font-family: $font-stack;
  min-height: 100%;
}

main {
  .custom-container {
    margin: 30px 50px;
    display: flex;

    .sidebar {
      width: 200px;
      margin-right: 50px;

      &-image {
        width: 100%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 15px;
      }

      &-links {
        list-style-type: none;
      }
    }

    .main-content {
      width: 100%;
    }
  }

  .main-post-content {
    text-align: justify;
  }
}

@media (max-width: 700px) {
  main {
    .custom-container {
      display: block;
      text-align: center;

      .sidebar {
        width: 100%;
        position: inherit;

        &-image {
          width: 100px;
        }

        &-links {
          li {
            display: inline;
            margin: 5px;
          }
        }
      }

      .post-list {
        margin-left: 0;
      }
    }
  }
}
